nav {
  width: 100%;
  color: rgb(73, 43, 123);
  background: #b7b7b7;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
  z-index: 10;
}

.logo {
  width: 180px;
}

.btn {
  background: white;
  color: rgb(73, 43, 123);
  padding: 14px 25px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 30px;
  font-weight: 600;
  border: 1px solid rgb(73, 43, 123);
  outline: none;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
  font-weight: 600;
}
